header {
  background-color: #1E2535;
  padding: 15px 5%;
}

header nav {
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

header .Content {
  max-width: 800px;
}

header h1 {
  color: white;
  font-size: 7rem;
  margin: 15px 0;
}

header p {
  color: white;
  font-size: 2rem;
  max-width: 500px;
  margin: 0;
}

header button {
  color: #343948;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
}